.form-questions {
    width: 550px;
    border: 1px solid rgba(167, 57, 93, 0.5);
    padding: 35px;
    padding-top: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    background: rgba(225, 137, 176, 0.1);
}

.label {
    margin-bottom: 5px;
    margin-top: 20px;
}