.input {
    width: 200px;
    height: 35px;
    padding: 10px;
    outline: none;
    border: 1px solid #bdb7af;
    font-size: 16px;
    transition: 0.2s;
}

input {
    cursor: pointer;
}

.input:hover {
    border: 1px solid rgba(167, 57, 93, 0.8);
}

.input:focus {
    border: 1px solid rgba(167, 57, 93, 0.8);
}

.input_text {
    width: 100%;
}

select {
    outline: none;
    border: 1px solid #bdb7af;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
}

select:hover {
    border: 1px solid rgba(167, 57, 93, 0.8);
    transition: 0.2s;
}