.button {
    width: 180px;
    height: 40px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    background-color: #e189b0;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
}

.button:hover {
    background-color: #a7355d;
}